<div class="container">
    <h2 class="text">Companies</h2>
    <div class="btn-group">  
        <button  *ngFor="let company of companies" type="button" class="btn btn-primary" (click)="selectCompany(company)">{{company.Name}} 
            <span class="badge">{{company.ProductCount}}</span>
        </button>  
    </div>
    <button *ngIf="selectedCompany" class="btn">Edit {{selectedCompany.Name}}</button> <br/>
    <div *ngIf="products" class="">
        <p>{{selectedCompany.Description}}</p>
    </div>
    <div class="editCompany container">
        <form *ngIf="selectedCompany" class="form" (ngSubmit)="addProduct(productName.value); productName.value = '';">
            <div class="form-group">
            <label>Add product</label>
            <input type="text" #productName placeholder="Product name" />
            </div>
            <input class="btn btn-success btn-block" type="submit" value="Add" />    
        </form>
    </div>

   
    <div class="products" *ngIf="products">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>In stock</th>
                    <th>Price</th>
                    <th>Function</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.Name}}</td>
                    <td *ngIf="product.Count>0">Exists</td>
                    <td *ngIf="product.Count<=0">Not available</td>
                    <td>{{product.Price}}</td>
                    <td>                       
                        <button (click)="selectProduct(product)" class="btn btn-primary" type="button">
                            Edit
                        </button>                          
                    </td>
                    <td>
                        <a class="btn btn-warning" (click)="removeProduct(product)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="selectedProduct" class="editProduct form">
        <div class="form-group">
            <label>Product name</label>
            <input class="form-control" #pName type="text" value="{{selectedProduct.Name}}" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" #pPrice type="number" value="{{selectedProduct.Price}}"/>
        </div>
        <div class="form-group">
            <label>Count {{selectedProduct.Count}}</label>
            <a class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-warning"><span class="glyphicon glyphicon-minus"></span></a>
        </div>
        <button (click)="saveProduct(price.value)" class="btn btn-success btn-block">Save</button>
    </div>
</div>